<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home Page</h1>
    <a href="flights/new">New Flight</a>
    <a href="/flights">All Flight</a>
    <a href="/tickets/new">Add Ticket</a>
  </body>
</html>
